<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="ir.akarbasi.tolam"
	android:versionCode="2"
	android:versionName="1"
	android:installLocation="preferExternal">
	
	<uses-sdk android:minSdkVersion="5" android:targetSdkVersion="25"/>
	<supports-screens android:largeScreens="true" 
	    android:normalScreens="true" 
	    android:smallScreens="true" 
	    android:anyDensity="true"/>
	<permission
	        android:name="ir.akarbasi.tolam.permission.C2D_MESSAGE"
	        android:protectionLevel="signature" />
	<uses-permission android:name="ir.akarbasi.tolam.permission.C2D_MESSAGE" />
	
	
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<application
		android:icon="@drawable/icon"
		android:label="نظریه زبان ها و ماشین ها"
		android:theme="@style/DarkTheme">
		
		<receiver android:name="co.ronash.pushe.receiver.UpdateReceiver" >
		<intent-filter>
		    <action android:name="android.intent.action.PACKAGE_REPLACED" />
		
		    <data
		            android:path="ir.akarbasi.tolam"
		            android:scheme="package" />
		</intent-filter>
		</receiver>
		<receiver
		android:name="com.google.android.gms.gcm.GcmReceiver"
		android:exported="true"
		android:permission="com.google.android.c2dm.permission.SEND" >
		<intent-filter>
		    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
		
		    <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
		
		    <category android:name="ir.akarbasi.tolam" />
		</intent-filter>
		</receiver>
		<service
		android:name="co.ronash.pushe.service.GcmService"
		android:exported="false" android:priority="999">
		<intent-filter>
		    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
		</intent-filter>
		</service>
		
		<receiver
		android:name="co.ronash.pushe.receiver.FallbackGcmNetworkManagerReceiver"
		android:exported="true" >
		<intent-filter>
		    <action android:name="co.ronash.pushe.CHECK_TASKS" />
		</intent-filter>
		</receiver>
		
		<service
		android:name="co.ronash.pushe.service.FallbackGcmTaskRunner"
		android:exported="false" >
		<intent-filter>
		    <action android:name="co.ronash.pushe.ACTION_TASK_READY" />
		</intent-filter>
		</service>
		<service
		android:name="co.ronash.pushe.task.scheduler.gcm.GcmTaskRunner"
		android:exported="true"
		android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE" >
		<intent-filter>
		    <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
		</intent-filter>
		</service>
		<service
		android:name="co.ronash.pushe.service.IntentTaskRunner"
		android:exported="false" />
		<service
		android:name="co.ronash.pushe.service.InstanceIDService"
		android:exported="false" >
		<intent-filter>
		    <action android:name="com.google.android.gms.iid.InstanceID" />
		</intent-filter>
		</service>
		<activity
		android:name="co.ronash.pushe.activities.PopupDialogActivity"
		android:theme="@style/PusheTransparent">
		</activity>
		
		<receiver android:name="co.ronash.pushe.receiver.BootAndScreenReceiver">
		<intent-filter>
		    <action android:name="android.intent.action.BOOT_COMPLETED"/>
		</intent-filter>
		</receiver>
		<service android:name="co.ronash.pushe.service.ScreenStateService">
		<intent-filter>
		    <action android:name="co.ronash.pushe.service.ScreenStateService" />
		</intent-filter>
		</service>
		
		<activity
		android:name="co.ronash.pushe.activities.WebviewActivity">
		</activity>
		
		<receiver android:name="co.ronash.pushe.receiver.ConnectivityReceiver">
		<intent-filter>
		    <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
		</intent-filter>
		</receiver>
		
		<receiver
		android:name="co.ronash.pushe.receiver.AddReceiver"
		android:exported="false">
		<intent-filter>
		    <action android:name="com.evernote.android.job.ADD_JOB_CREATOR"/>
		</intent-filter>
		</receiver>
		
		<receiver android:name="co.ronash.pushe.receiver.AppChangeReceiver">
		<intent-filter>
		    <action android:name="android.intent.action.PACKAGE_INSTALL" />
		    <action android:name="android.intent.action.PACKAGE_ADDED" />
		    <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />
		    <data android:scheme="package"/>
		</intent-filter>
		</receiver>
		
		<service
		android:name="com.evernote.android.job.v21.PlatformJobService"
		android:exported="false"
		android:permission="android.permission.BIND_JOB_SERVICE" />
		<service
		android:name="com.evernote.android.job.v14.PlatformAlarmService"
		android:exported="false" />
		
		<receiver
		android:name="com.evernote.android.job.v14.PlatformAlarmReceiver"
		android:exported="false" >
		<intent-filter>
		    <action android:name="com.evernote.android.job.v14.RUN_JOB" />
		    <action android:name="net.vrallev.android.job.v14.RUN_JOB" />
		</intent-filter>
		</receiver>
		<receiver
		android:name="com.evernote.android.job.JobBootReceiver"
		android:exported="false" >
		<intent-filter>
		    <action android:name="android.intent.action.BOOT_COMPLETED" />
		</intent-filter>
		</receiver>
		<service
		android:name="com.evernote.android.job.gcm.PlatformGcmService"
		android:exported="true"
		android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
		<intent-filter>
		    <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/>
		</intent-filter>
		</service>
		
		<activity
		android:name="co.ronash.pushe.activities.RequestAccessDialogActivity"
		android:theme="@style/PusheTransparent" >
		</activity>
		
		<service android:name="co.ronash.pushe.service.PusheActivityService"/>
		
		    <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
		    <meta-data android:name="co.ronash.pushe.token" android:value="PUSHE_207973953959"/>
		    <meta-data android:name="co.ronash.pushe.cr" android:value="Tm9uZQ=="/>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".main"
			android:label="نظریه زبان ها و ماشین ها"
			android:screenOrientation="portrait">
			<intent-filter>
			   <action android:name="android.intent.action.MAIN" />
			   <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			
		</activity>
		<service android:name=".starter">
		</service>
		<receiver android:name=".starter$starter_BR">
		</receiver>
	</application>
</manifest>